{
    "target":{
        "kind":"repo-target",
        "umbrella":"01-lb-api",
        "branch":"01_init_API",
        "project":"lb-api",
        "folders": [
           {"name":"lb-api", "type":"hapi-app"},
           {"name":"scripts", "type":"sh-scripts"}
        ]
    }
}