{
    "target":{
        "kind":"repo-target",
        "umbrella":"01-lb-ab",
        "branch":"1.init",
        "project":"lb-ab",
        "folders": [{"name":"lb-a", "type":"nuxtjs-app"},
                    {"name":"lb-b", "type":"nuxtjs-app"},
                    {"name":"lb-c","type":"nuxtjs-app"},
                    {"name":"hapi-api","type":"hapi-api"}]
    }
}